.my-class {
  color: red;
  color: red;
  color: red;
  background-color: orange;
  flex-direction: column;
}

.my-class {
  color: red;
  background-color: orange;
  flex-direction: column;
}
.my-class {
  color: red;
  background-color: orange;
  flex-direction: column;
}
